/* This font I love */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* For all elements to help make things easier down the road*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --test: red;
    --main-bg: #111;
    --text: #eee;
    --highlight: mediumpurple;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-bg);
}

/* ====================== HEADER ====================== */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

/* My name */
.logo {
    font-size: 30px;
    text-decoration: none;
    font-weight: 600;
    color: var(--text);
}

.navbar a {
    position: relative;
    font-size: 24px;
    color: var(--text);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    transition: .3s;
}
.navbar a:hover {
    color: #aaa;
}

.navbar a::before {
    content: "";
    position: absolute;
    background-color: var(--highlight);
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    z-index: -1;
    transition: .5s;

}

.navbar a:hover::before {
    width: 100%;
}

/* ====================== LANDING PAGE ====================== */

.landing {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--text);
    height: 100svh;
    background-image: linear-gradient(
        135deg,
        #040656,
        #603162,
        #a2647c
    );
    padding: 0 10%;
    justify-content: space-between;
}

.landing img {
    width: 600px;
    border-radius: 50%;
}

.landing-content {
    max-width: 900px;
    margin-bottom: 10%;
}
.landing-content h1 {
    font-size: 120px;
    font-weight: 700;
}
.landing-content h2 {
    font-size: 48px;
    color:var(--highlight);
    margin-bottom: 10px;
}
.landing-content h3 {
    font-weight: 600;
    font-size: 24px;
}

.socials {
    position: absolute;
    bottom: 20vh;
    width: 250px;
    display: flex;
    justify-content: space-between;
}
.socials a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: transparent;
    border: 2px solid #eee;
    border-radius: 50%;
    color: #eee;
    text-decoration: none;
    font-size: 36px;
    z-index: 0;
    overflow: hidden;
    transition: .5s;
}
/* Cool hover fill effect ::before = cosmetic pesudoelement*/
.socials a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: white;
    z-index: -1;
    transition: .5s;
}
.socials a:hover {
    color: var(--highlight)
}
.socials a:hover::before {
    width: 100%;
}

/* ====================== ABOUT ME ====================== */

.about {
    position: relative;
    isolation: isolate;
    background-color: #111;
    color: #eee;
    height: 100svh;
    font-size: 30px;
    overflow: hidden;
}
.about-typing {
    font-size: clamp(10px, 6vw, 120px);
    font-weight: 700;
    color: #888;
    padding: 60px 13%;
}
.about-typing .about-prefix {
    margin-right: 2px;
    color: #eee
}
.about-words {
    color: var(--highlight);
}
.about-content {
    margin-left: 8%;
    width: 40%;
    font-size: 28px;
}

#ico-container {
    float: right;
    position: absolute;
    z-index: -1;
    width: 140%;
    height: 130%;
    left: 10%;
    top: 00%;
}
.hint {
    color: #555;
    position: absolute;
    bottom: 10px;
    right: 10px;    
}

/* ==================== PROJECTS / INTERETS ==================== */

.projects-interests {
    background-image: linear-gradient(
        45deg,
        #333,
        #111
    );
    height: 100svh;
}

.projects-interests h1 {
    padding-top: 90px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 100px;
    color: var(--text)
}

.projects-interests p {
    color: var(--highlight);
    text-align: center;
    font-size: 28px;
    font-weight: 600;
}

.projects-interests a {
    display: inline;
}

.card {
    width: 300px;
    height: 450px;
    margin: 60px;
    border-radius: 20px;
    position: relative;
}

.card a {
    text-align: center;
    color: var(--text);
    font-size: 30px;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-bottom: 20px;
    text-decoration: none;
    font-weight: 600;
}

.astronomy-card {
    background-image: url("https://images.squarespace-cdn.com/content/v1/5504d100e4b08eb858c4e8fc/1529015914950-BHRMYUXKGXF9LXH6AAD6/Starry+Night.jpeg?format=1500w");
    background-size: cover;
    background-position: 90%;
}

/* Responsive Design with Media Queries */

@media (max-width: 1570px) {
    .header {
        padding: 12px 2%;
        transition: 0.3s
    }
    .landing {
        padding: 0 5%;
        transition: 0.3s;
    }
    .landing img{
        width: 450px;
        transition: 0.3s;
    }
}
@media (max-width: 1300px) {
    .landing img{
        width: 400px;
        transition: 0.3s;
    }
    .landing-content h1 {
        font-size: 8vw;
    }
}
@media (max-width: 1000px) {
    .landing {
        flex-direction: column;
        justify-content:center
    }
    .landing-content {
        margin-bottom: 0;
    }
    .landing-content h1 {
        font-size: 100px;
        text-align: center;
    }
    .landing-content h2 {
        font-size: 40px;
        text-align: center;
    }
    .socials {
        transition: 0.3s;
        position: unset;
        margin: 30px 0;
    }
}
@media (max-width: 720px) {
    .landing-content h1 {
        font-size: clamp(0px, 15vw, 100px);
    }
    .landing-content h2 {
        font-size: clamp(0px, 7vw, 40px);
    }
    .landing-content h3 {
        font-size: clamp(0px, 3vw, 24px);
    }
    .landing img{
        width: clamp(0px, 75vw, 400px);
    }
}



