/* This font I love */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* For all elements to help make things easier down the road*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --test: red;
    --main-bg: #111;
    --text: #eee;
    --highlight: mediumpurple;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-bg);
}

/* ====================== HEADER ====================== */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

/* My name */
.logo {
    font-size: 30px;
    text-decoration: none;
    font-weight: 600;
    color: var(--text);
    transition: .3s;
}

.navbar a {
    position: relative;
    font-size: 24px;
    color: var(--text);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    transition: .3s;
}
.navbar a:hover {
    color: #aaa;
}
.navbar a::before {
    content: "";
    position: absolute;
    background-color: var(--highlight);
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    z-index: -1;
    transition: .5s;

}
.navbar a:hover::before {
    width: 100%;
}

#menu-icon {
    display: none;
    color: #eee;
    font-size: 36px;
    transition: .3s;
}
#menu-icon:hover {
    color: #aaa;
    cursor: pointer;
}
.logo:hover {
    color: #aaa;
}

@media (max-width: 1000px) {
    #menu-icon {
        display: block;
    }
    .navbar {
        position: fixed;
        top: 8%;
        right: -251px;
        width: 250px;
        background: hsl(0 0% 100% / 0.1);
        backdrop-filter: blur(10px);
        display: flex;
        flex-direction: column;
        padding: 20px 40px;
        transition: .5s ease-in-out;
        border-radius: 12px;
    }
    .navbar a {
        margin: 20px 0;
        font-size: 30px;
    }
}

.navbar.open {
    right: 20px;
}

/* ====================== LANDING PAGE ====================== */

.landing {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--text);
    height: 100svh;
    background-image: linear-gradient(
        135deg,
        #040656,
        #603162,
        #a2647c
    );
    padding: 0 10%;
    justify-content: space-between;
}

.landing img {
    width: 600px;
    border-radius: 50%;
}

.landing-content {
    max-width: 900px;
    margin-bottom: 10%;
}
.landing-content h1 {
    font-size: 120px;
    font-weight: 700;
}
.landing-content h2 {
    font-size: 48px;
    color:var(--highlight);
    margin-bottom: 10px;
}
.landing-content h3 {
    font-weight: 600;
    font-size: 24px;
}

.socials {
    position: absolute;
    bottom: 20vh;
    width: 250px;
    display: flex;
    justify-content: space-between;
}
.socials a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: transparent;
    border: 2px solid #eee;
    border-radius: 50%;
    color: #eee;
    text-decoration: none;
    font-size: 36px;
    z-index: 0;
    overflow: hidden;
    transition: .5s;
}
/* Cool hover fill effect ::before = cosmetic pesudoelement*/
.socials a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: white;
    z-index: -1;
    transition: .5s;
}
.socials a:hover {
    color: var(--highlight)
}
.socials a:hover::before {
    width: 100%;
}

/* ====================== ABOUT ME ====================== */

.about {
    position: relative;
    isolation: isolate;
    background-color: #111;
    color: #eee;
    height: 100svh;
    font-size: 30px;
    overflow: hidden;
}
.about-typing {
    font-size: clamp(10px, 6vw, 120px);
    font-weight: 700;
    color: #888;
    padding: 60px 13%;
}
.about-typing .about-prefix {
    margin-right: 2px;
    color: #eee
}
.about-words {
    color: var(--highlight);
}
.about-content {
    margin-left: 8%;
    width: 40%;
    font-size: 28px;
}

#ico-container {
    float: right;
    position: absolute;
    z-index: -1;
    width: 130%;
    height: 130%;
    top: 0;
}
.hint {
    color: #555;
    position: absolute;
    bottom: 10px;
    right: 10px;    
}

/* ==================== PROJECTS / INTERETS ==================== */

.projects-interests {
    background-color: #222;
    min-height: 100svh;
    padding-top: 50px;
    position: relative;
}

.projects-interests h1 {
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 100px;
    color: #eee
}

.projects-interests p {
    color: mediumpurple;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    margin: 80px 12%;
}
.card-container a {
    text-decoration: none;
    width: 300px;
    height: 300px;
    background-color: red;
    text-align: center;
    border-radius: 6px;
    border-color: mediumpurple;
    border-width: 6px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 32px;
    color: #eee;
    font-weight: 600;
    background-size: cover;
    margin: 10px;

}
.astronomy {
    background-image: url("https://images.squarespace-cdn.com/content/v1/5504d100e4b08eb858c4e8fc/1529015914950-BHRMYUXKGXF9LXH6AAD6/Starry+Night.jpeg?format=1500w");
    background-position: 90%;
}
.computer-science {
    background-image: url("https://images.theconversation.com/files/440861/original/file-20220114-19-18wivp1.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=675.0&fit=crop");
}
.desmos {
    background-image: url("https://help.desmos.com/hc/article_attachments/4413863846413/desmos_icon_square.png");
    background-position: 20%;
}

/* Responsive Design with Media Queries */

@media (max-width: 1570px) {
    .header {
        padding: 12px 2%;
        transition: 0.3s
    }
    .landing {
        padding: 0 5%;
        transition: 0.3s;
    }
    .landing img{
        width: 450px;
        transition: 0.3s;
    }
}
@media (max-width: 1300px) {
    .landing img{
        width: 400px;
        transition: 0.3s;
    }
    .landing-content h1 {
        font-size: 8vw;
    }

    .about-content {
        margin: 0px 4% 20px;
        width: unset;
        font-size: 28px;
    }
    .card-container {
        flex-direction: column;
       align-items: center;
    }
}
@media (max-width: 1000px) {
    .landing {
        flex-direction: column;
        justify-content:center
    }
    .landing-content {
        margin-bottom: 0;
    }
    .landing-content h1 {
        font-size: 100px;
        text-align: center;
    }
    .landing-content h2 {
        font-size: 40px;
        text-align: center;
    }
    .socials {
        transition: 0.3s;
        position: unset;
        margin: 30px 0;
    }

    .hint {
        display: none;
    }
}
@media (max-width: 720px) {
    .landing-content h1 {
        font-size: clamp(0px, 15vw, 100px);
    }
    .landing-content h2 {
        font-size: clamp(0px, 7vw, 40px);
    }
    .landing-content h3 {
        font-size: clamp(0px, 3vw, 24px);
    }
    .landing img{
        width: clamp(0px, 75vw, 400px);
    }

    .about {
        height: unset;
    }
    .about-content p {
        font-size: 18px;
    }
}



